main.pdf
.DS_Store
.texpadtmp/
acmart.cls
acmart.pdf
acmguide.pdf
*.fls
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
images/assets
*.key
*.fdb_latexmk
*.synctex.gz
raw/*
assets